/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-abr-2020, 17:31:05
    Author     : Marcos
*/
.botonCerrar, .botonVolver {
    -fx-fill: #146092; 
    -fx-size: 20;
}
.botonCerrar:hover, .botonVolver:hover {
    -fx-fill: #d8d8d8;
}
/* Estilos view inicio */
.panelInicio, .panelMenu {
    -fx-pref-width: 900px;
    -fx-pref-height: 600px;
}
.panelImagen {
    -fx-background-color: white;
    -fx-pref-width: 450px;
    -fx-pref-height: 600px;
}
.panelLogin, .panelRegistro {
    -fx-background-color: #76bd43;
    -fx-pref-width: 450px;
    -fx-pref-height: 600px;
}
.inputUser, .inputPass {
    -fx-font-size: 14px;
    -fx-font-family: Arial, sans-serif;
}
.botonLogin, .botonRegistro {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #146092;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #76bd43;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-weight: bold; 
    -fx-font-size: 11pt;
    -fx-text-fill: #146092;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;    
}
.botonLogin:hover, .botonRegistro:hover, .botonVolver:hover {
    -fx-border-color: #d8d8d8;
    -fx-text-fill: #d8d8d8;
}

/* Estilos menu neavegacion */
.panelMenu {
    -fx-pref-width: 900px;
    -fx-pref-height: 600px;
    -fx-background-color: #76bd43;   
}
.sidebarMenu {
    -fx-background-color: white;
    -fx-pref-width: 150px;
    -fx-pref-height: 600px;
}
.botonMenu {
    -fx-text-fill: #146092;
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-pref-width: 150px;
    -fx-pref-height: 35px;
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 20;
}
.botonMenu:hover {
    -fx-background-color: rgba(51, 51, 51, 0.26);
    -fx-background-radius: 0;
}
.icoMenu {
    -fx-fill: #146092; 
}
.txtMenu {
    -fx-font-size: 17px;
    -fx-text-fill: #146092;
    -fx-font-weight: bold;
    -fx-padding: 10 20 5 10;
    -fx-border-width: 0 0 2 0;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #146092;
    -fx-pref-width: 150px;
}
/* Avis */
.registroAvis, .modificarAvis {
    -fx-pref-width: 750px;
    -fx-pref-height: 600px;
    -fx-background-color: #76bd43; 
}
.textRegistreAvis, .textModificaAvis {
    -fx-font-size: 30;
    -fx-text-fill: #146092;
    -fx-font-weight: bold;   
}
.labelDades {
    -fx-pref-width: 650;
    -fx-font-size: 20;
    -fx-text-fill: #146092;
    -fx-font-weight: bold;
    -fx-border-width: 0 0 2 0;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #146092;
}
.inputNombreAvi {
    -fx-font-size: 14;
    -fx-font-family: Arial, sans-serif;   
    -fx-pref-width: 320;
    -fx-pref-height: 30;
}
.inputEdatAvi {
    -fx-font-size: 14;
    -fx-font-family: Arial, sans-serif;   
    -fx-pref-width: 70;
    -fx-pref-height: 30;    
}
.inputBuscarAvi {
    -fx-font-size: 13;
    -fx-font-family: Arial, sans-serif;   
    -fx-pref-width: 450;
    -fx-pref-height: 30;    
}
.table-view .column-header {
    -fx-background-color: #0d6a38;
}
.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-padding: 10 0 10 0;
}
.table-view, .table-view:focused {
  -fx-background-color: transparent,-fx-box-border,-fx-control-inner-background;
  -fx-background-insets: -1.4, 0, 1;
  -fx-background-radius: 1.4, 0, 0;
}

/* Espais */
.registroEspais, .modificarEspais {
    -fx-pref-width: 750px;
    -fx-pref-height: 600px;
    -fx-background-color: #76bd43; 
}
.textRegistreEspais, .textModificaEspais {
    -fx-font-size: 30;
    -fx-text-fill: #146092;
    -fx-font-weight: bold;   
}
.labelEspais {
    -fx-pref-width: 650;
    -fx-font-size: 20;
    -fx-text-fill: #146092;
    -fx-font-weight: bold;
    -fx-border-width: 0 0 2 0;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #146092;
}
.inputDades {
    -fx-font-size: 14;
    -fx-font-family: Arial, sans-serif;   
    -fx-pref-width: 650;
    -fx-pref-height: 30;
}
.inputAltres {
    -fx-font-size: 14;
    -fx-font-family: Arial, sans-serif;   
    -fx-pref-width: 320;
    -fx-pref-height: 30;  
}
.textAdaptat {
    -fx-font-size: 14;
    -fx-font-family: Arial, sans-serif;   
    -fx-pref-width: 70;
    -fx-pref-height: 30;
    -fx-text-fill: #146092;
    -fx-font-weight: bold;
}
.radioButton {
    -fx-text-fill: #146092;
    -fx-font-weight: bold;
}
.inputBuscarEspai {
    -fx-font-size: 13;
    -fx-font-family: Arial, sans-serif;   
    -fx-pref-width: 450;
    -fx-pref-height: 30;    
}
/* Usuaris */
.registroUsuaris, .modificarUsuaris {
    -fx-pref-width: 750px;
    -fx-pref-height: 600px;
    -fx-background-color: #76bd43; 
}
.textRegistreUsuaris, .textModificaUsuaris {
    -fx-font-size: 30;
    -fx-text-fill: #146092;
    -fx-font-weight: bold;   
}
.labelUsuaris {
    -fx-pref-width: 650;
    -fx-font-size: 20;
    -fx-text-fill: #146092;
    -fx-font-weight: bold;
    -fx-border-width: 0 0 2 0;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #146092;
}
.inputNombreUsuari {
    -fx-font-size: 14;
    -fx-font-family: Arial, sans-serif;   
    -fx-pref-width: 320;
    -fx-pref-height: 30;
}
.inputBuscarUsuari {
    -fx-font-size: 13;
    -fx-font-family: Arial, sans-serif;   
    -fx-pref-width: 450;
    -fx-pref-height: 30;    
}
/* Historial */
.cercarHistorial {
    -fx-pref-width: 750px;
    -fx-pref-height: 600px;
    -fx-background-color: #76bd43; 
}
.textCercarHistorial {
    -fx-font-size: 30;
    -fx-text-fill: #146092;
    -fx-font-weight: bold;   
}
.txtDates {
    -fx-font-size: 14;
    -fx-font-family: Arial, sans-serif;   
    -fx-pref-width: 100;
    -fx-pref-height: 30;
    -fx-text-fill: #146092;
    -fx-font-weight: bold;   
}